{% extends 'main.html' %}
{% load url_tags %}
<!DOCTYPE html>
<html lang="ru" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
</head>
{% block navbar %}
    {{ block.super }}
<body class="page-catalog">

    <div id="content">
        <div class="py-5 text-center bg-secondary-subtle">
            <div class="container">
                <h1 class="display-4">Товары</h1>
            </div>
        </div>

        <div class="mb-4 py-5 bg-light-subtle">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-8 offset-lg-2">
                        <form role="search">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-lg" placeholder="Поиск..." aria-describedby="button-addon2" name="q">
                                <button class="btn btn-outline-success btn-lg" type="submit" id="button-addon2">Найти</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <main id="main" class="col-12 col-lg-9 order-1 order-lg-2 mb-4 mb-lg-0">
                    <!-- <div class="row row-cols-2 row-cols-lg-3 gy-4">
                        <div class="product-teaser col">
                            <div class="product-teaser__inner">
                                <div class="position-relative" title="перейти на страницу товара">
                                    <div class="product-teaser__img">
                                        <img src="https://placehold.co/300x300" alt="">
                                    </div>
                                    <div class="product-teaser__name my-3">
                                        <a href="{% url 'product_page' 1 %}" class="stretched-link">
                                            <h3>Product name 1</h3>
                                        </a>
                                    </div>
                                </div>
                                <div class="product-teaser__price">
                                    5000$
                                </div>
                                <div class="product-teaser__add-to-cart mt-2">
                                    <button class="btn btn-success" >To Cart</button>
                                </div>
                            </div>
                        </div>
                        <div class="product-teaser col">
                            <div class="product-teaser__inner">
                                <div class="position-relative" title="перейти на страницу товара">
                                    <div class="product-teaser__img">
                                        <img src="https://placehold.co/300x300" alt="">
                                    </div>
                                    <div class="product-teaser__name my-3">
                                        <a href="#" class="stretched-link">
                                            <h3>Product name 2</h3>
                                        </a>
                                    </div>
                                </div>
                                <div class="product-teaser__price">
                                    5000$
                                </div>
                                <div class="product-teaser__add-to-cart mt-2">
                                    <button class="btn btn-success">To Cart</button>
                                </div>
                            </div>
                        </div>
                        <div class="product-teaser col">
                            <div class="product-teaser__inner">
                                <div class="position-relative" title="перейти на страницу товара">
                                    <div class="product-teaser__img">
                                        <img src="https://placehold.co/300x300" alt="">
                                    </div>
                                    <div class="product-teaser__name my-3">
                                        <a href="#" class="stretched-link">
                                            <h3>Product name 3</h3>
                                        </a>
                                    </div>
                                </div>
                                <div class="product-teaser__price">
                                    5000$
                                </div>
                                <div class="product-teaser__add-to-cart mt-2">
                                    <button class="btn btn-success">To Cart</button>
                                </div>
                            </div>
                        </div>
                        <div class="product-teaser col">
                            <div class="product-teaser__inner">
                                <div class="position-relative" title="перейти на страницу товара">
                                    <div class="product-teaser__img">
                                        <img src="https://placehold.co/300x300" alt="">
                                    </div>
                                    <div class="product-teaser__name my-3">
                                        <a href="#" class="stretched-link">
                                            <h3>Product name 4</h3>
                                        </a>
                                    </div>
                                </div>
                                <div class="product-teaser__price">
                                    5000$
                                </div>
                                <div class="product-teaser__add-to-cart mt-2">
                                    <button class="btn btn-success">To Cart</button>
                                </div>
                            </div>
                        </div>
                        <div class="product-teaser col">
                            <div class="product-teaser__inner">
                                <div class="position-relative" title="перейти на страницу товара">
                                    <div class="product-teaser__img">
                                        <img src="https://placehold.co/300x300" alt="">
                                    </div>
                                    <div class="product-teaser__name my-3">
                                        <a href="#" class="stretched-link">
                                            <h3>Product name 5</h3>
                                        </a>
                                    </div>
                                </div>
                                <div class="product-teaser__price">
                                    5000$
                                </div>
                                <div class="product-teaser__add-to-cart mt-2">
                                    <button class="btn btn-success">To Cart</button>
                                </div>
                            </div>
                        </div>
                        <div class="product-teaser col">
                            <div class="product-teaser__inner">
                                <div class="position-relative" title="перейти на страницу товара">
                                    <div class="product-teaser__img">
                                        <img src="https://placehold.co/300x300" alt="">
                                    </div>
                                    <div class="product-teaser__name my-3">
                                        <a href="#" class="stretched-link">
                                            <h3>Product name 6</h3>
                                        </a>
                                    </div>
                                </div>
                                <div class="product-teaser__price">
                                    5000$
                                </div>
                                <div class="product-teaser__add-to-cart mt-2">
                                    <button class="btn btn-success">To Cart</button>
                                </div>
                            </div>
                        </div>
                        <div class="product-teaser col">
                            <div class="product-teaser__inner">
                                <div class="position-relative" title="перейти на страницу товара">
                                    <div class="product-teaser__img">
                                        <img src="https://placehold.co/300x300" alt="">
                                    </div>
                                    <div class="product-teaser__name my-3">
                                        <a href="#" class="stretched-link">
                                            <h3>Product name 7</h3>
                                        </a>
                                    </div>
                                </div>
                                <div class="product-teaser__price">
                                    5000$
                                </div>
                                <div class="product-teaser__add-to-cart mt-2">
                                    <button class="btn btn-success">To Cart</button>
                                </div>
                            </div>
                        </div>
                        <div class="product-teaser col">
                            <div class="product-teaser__inner">
                                <div class="position-relative" title="перейти на страницу товара">
                                    <div class="product-teaser__img">
                                        <img src="https://placehold.co/300x300" alt="">
                                    </div>
                                    <div class="product-teaser__name my-3">
                                        <a href="#" class="stretched-link">
                                            <h3>Product name 8</h3>
                                        </a>
                                    </div>
                                </div>
                                <div class="product-teaser__price">
                                    5000$
                                </div>
                                <div class="product-teaser__add-to-cart mt-2">
                                    <button class="btn btn-success">To Cart</button>
                                </div>
                            </div>
                        </div>
                        <div class="product-teaser col">
                            <div class="product-teaser__inner">
                                <div class="position-relative" title="перейти на страницу товара">
                                    <div class="product-teaser__img">
                                        <img src="https://placehold.co/300x300" alt="">
                                    </div>
                                    <div class="product-teaser__name my-3">
                                        <a href="#" class="stretched-link">
                                            <h3>Product name 9</h3>
                                        </a>
                                    </div>
                                </div>
                                <div class="product-teaser__price">
                                    5000$
                                </div>
                                <div class="product-teaser__add-to-cart mt-2">
                                    <button class="btn btn-success">To Cart</button>
                                </div>
                            </div>
                        </div>
                    </div> -->


                    <div class="row row-cols-2 row-cols-lg-3 gy-4">
                        {% if products %}
                            {% for product in products %}
                                <div class="product-teaser col">
                                    <div class="product-teaser__inner">
                                        <div class="position-relative" title="перейти на страницу товара">
                                            <div class="product-teaser__img">
                                                <img src="https://placehold.co/250x250" alt="">
                                            </div>
                                            <div class="product-teaser__name my-3">
                                                <a href="{% url 'product_page' product.0 %}" class="stretched-link">
                                                    <h3>{{ product.1 }}</h3>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="product-teaser__price">
                                            ${{ product.2 }}
                                        </div>
                                        <div class="product-teaser__add-to-cart mt-2">
                                            <button class="btn btn-success">To Cart</button>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="product-teaser col">
                                <div class="product-teaser__inner">
                                    <div class="position-relative" title="перейти на страницу товара">
                                        <div class="product-teaser__img">
                                            <img src="https://placehold.co/250x250" alt="">
                                        </div>
                                        <div class="product-teaser__name my-3">
                                            <a href="{% url 'product_page' product.0 %}" class="stretched-link">
                                                <h3>{{ product.1 }}</h3>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product-teaser__price">
                                        ${{ product.2 }}
                                    </div>
                                    <div class="product-teaser__add-to-cart mt-2">
                                        <button class="btn btn-success">To Cart</button>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    <div class="pagination">
                        <span class="step-links">
                            {% if products.has_previous %}
                                <a href="?{% go_to request 'page' 1 %}">&laquo; first</a>
                                <a href="?{% go_to request 'page' products.previous_page_number %}">previous</a>
                            {% endif %}

                            <span class="current">
                                Page {{ products.number }} of {{ products.paginator.num_pages }}.
                            </span>

                            {% if products.has_next %}
                                <a href="?{% go_to request 'page' products.next_page_number %}">next</a>
                                <a href="?{% go_to request 'page' products.paginator.num_pages %}">last &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                </main>

                <aside id="left-sidebar" class="col-12 col-lg-3 order-2 order-lg-1">
                    <div id="filters-block" class="sticky-lg-top pt-lg-5">
                        <div class="h4 mt-lg-2">Фильтры</div>
                        <form id="catalog-filters">
                            <div class="price-filter mb-3">
                                <div class="form-label">Цена от 5$ до 1200$:</div>
                                <div class="price-filter-grid">
                                    <input type="range" min="590" max="2000" step="1" value="590" name="price-min"> <output id="price-min-value"></output>
                                </div>
                                <div class="price-filter-grid">
                                    <input type="range" min="1000" max="2000" step="1" value="1990" name="price-max"> <output id="price-max-value"></output>
                                </div>
                            </div>
                            <div class="category-filter mb-3">
                                <label for="category">Категория</label>
                                <select class="form-select" name="category" id="category">
                                    <option selected value="all">Все категории</option>
                                    <option value="1">Для дома</option>
                                    <option value="2">Для дачи</option>
                                    <option value="3">Для авто</option>
                                </select>
                            </div>
                            <div class="brands-filter mb-3">
                                <label for="brands">Бренды</label>
                                <select class="form-select" name="brands" id="brands">
                                    <option selected value="all">Все бренды</option>
                                    <option value="bosch">Bosch</option>
                                    <option value="dyson">Dyson</option>
                                    <option value="rowenta">Rowenta</option>
                                </select>
                            </div>
                            <div class="quantity-filter mb-3">
                                <label for="quantity">Количество на странице</label>
                                <select class="form-select" name="quantity" id="quantity">
                                    <option value="9">9</option>
                                    <option value="18">18</option>
                                    <option value="32">32</option>
                                    <option value="64">64</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-secondary">Отфильтровать</button>
                        </form>
                    </div>
                </aside>
            </div>
        </div>
    </div>
{% endblock navbar %}
    <footer id="footer" class="py-3 bg-body-tertiary">
        <div class="container text-center">
            &copy; 2024
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="./scripts.js"></script>
</body>
</html>

